<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default border-black">
      <div class="panel-heading heading-bckgr-yellow">
      <center>
        <h3 class="no-margin">EDIT MY PROFILE</h3>
      </center>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :username %><br />
          <div class="input-group">
          <%= f.text_field :username, autofocus: true, required: true, class: "form-control form-control-xl", placeholder: "Username" %>
          <div class="input-group-addon"><i class="icon-append fa fa-user"></i></div>
          </div>
        </div>

          <div class="form-group">
          <%= f.label :first_name %><br />
          <div class="input-group">
          <%= f.text_field :first_name, required: true, class: "form-control form-control-xl", placeholder: "First Name" %>
          <div class="input-group-addon"><i class="icon-append fa fa-user"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br />
          <div class="input-group">
          <%= f.text_field :last_name, required: true, class: "form-control form-control-xl", placeholder: "Last Name" %>
          <div class="input-group-addon"><i class="icon-append fa fa-user"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :birthday %><br />
                    <div class="input-group">
          <%= f.date_field :birthday, required: true, class: "form-control form-control-xl" %>
          <div class="input-group-addon"><i class="icon-append fa fa-birthday-cake"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :address %><br />
          <div class="input-group">
          <%= f.text_field :address, class: "form-control form-control-xl", placeholder: "Address" %>
          <div class="input-group-addon"><i class="icon-append fa fa-address-card-o"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :city %><br />
          <div class="input-group">
          <%= f.text_field :city, class: "form-control form-control-xl", placeholder: "City" %>
          <div class="input-group-addon"><i class="icon-append fa fa-address-card-o"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :zip %><br />
          <div class="input-group">
          <%= f.number_field :zip, class: "form-control form-control-xl", placeholder: "Zip" %>
          <div class="input-group-addon"><i class="icon-append fa fa-address-card-o"></i></div>
          </div>
        </div>



        <div class="form-group">
          <%= f.label "State Outside USA..." %><br />
          <div class="input-group">
          <%= f.text_field :state, class: "form-control form-control-xl", placeholder: "State Outside USA" %>
          <div class="input-group-addon"><i class="icon-append fa fa-address-card-o"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "State Inside USA..." %>
          <div class="input-group">
          <%= f.select(:state, User::STATES, { include_blank: "Select US State"}, class: "form-control form-control-xl") %>
          <div class="input-group-addon"><i class="icon-append fa fa-address-card-o"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :country %>
          <div class="input-group">
          <%= f.select(:country, User::COUNTRIES, { include_blank: "Select Country"}, class: "form-control form-control-xl") %>
          <div class="input-group-addon"><i class="icon-append fa fa-globe"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone %><br />
          <div class="input-group">
          <%= f.phone_field :phone, class: "form-control form-control-xl", placeholder: "Phone" %>
          <div class="input-group-addon"><i class="icon-append fa fa-phone"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :school %><br />
          <div class="input-group">
          <%= f.text_area :school, class: "form-control form-control-xl", placeholder: "School", rows: 5 %>
          <div class="input-group-addon"><i class="icon-append fa fa-graduation-cap"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :work %><br />
          <div class="input-group">
          <%= f.text_area :work, class: "form-control form-control-xl", placeholder: "Work", rows: 5 %>
          <div class="input-group-addon"><i class="icon-append fa fa-briefcase"></i></div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :hobbies %><br />
          <div class="input-group">
          <%= f.text_area :hobbies, class: "form-control form-control-xl", placeholder: "Hobbies", rows: 5 %>
          <div class="input-group-addon"><i class="icon-append fa fa-futbol-o"></i></div>
          </div>
        </div>

        <div class="form-group">
          <strong>Upload Profile Picture</strong>
          <%= f.file_field :image %>
        </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <div class="input-group">
            <%= f.email_field :email, required: true, class: "form-control form-control-xl", placeholder: "Email" %><div class="input-group-addon"><i class="icon-append fa fa-envelope"></i>
            </div>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <div class="input-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-xl",placeholder: "Password" %>
            <div class="input-group-addon"><i class="icon-append fa fa-lock"></i></div>
            </div>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-xl", placeholder: "Password Confirmation" %> <div class="input-group-addon"><i class="icon-append fa fa-lock"></i></div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control form-control-xl", placeholder: "Current Password" %><div class="input-group-addon"><i class="icon-append fa fa-lock"></i></div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary btn-block btn-large" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer footer-bckgr-yellow">
        <h3 class="no-margin">Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block btn-large"%></p>

        <%= link_to "Back", :back, class: "btn btn-info btn-block btn-large " %>
        </div>
      </div>
    </div>
  </div>
</div>