
<% if activity.trackable %>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading padding-5-10">
					<div class="media">
						<div class="pull-left">
								<%= link_to user_path(activity.owner.user.username), class: "no-underline" do %> 
										<% if activity.owner.user.image.file? %>

										<%= image_tag activity.owner.user.image, size: 55 %>
										<% else %>
										<%= image_tag "no_profile_pic.jpg", size: 55 %>
										<% end %>
										<% end %>
						</div>
						<div>
							<h4 style="margin-bottom: 2px;"><%= link_to activity.owner.user.username, user_path(activity.owner.user.username) %></h4>
							<p style="margin-bottom: 5px; font-size: 14px;"><small><%= time_ago_in_words(activity.created_at)%> ago</small></p>
						</div>
					</div>
				</div>
				<div class="panel-body padding-10">
					<%= activity.owner.user.first_name %> <%=activity.owner.user.last_name %> commented on a on a post from <%= link_to "#{activity.owner.post.user.first_name} #{activity.owner.post.user.last_name}", user_path(username: activity.owner.post.user.username) %> 
				</div>
			</div>
		</div>
	</div>
 <% end %>