
			<% @picture.comments.each do |comment| %>
				<div>
			  	<% if comment.user.image.file? %>
				<%= link_to user_path(username: comment.user.username), class: "no-underline" do %><%= image_tag comment.user.image, size: 30 %><% end %>
				<% else %>
				<%= link_to user_path(username: comment.user.username), class: "no-underline" do %><%= image_tag "no_profile_pic.jpg", size: 30 %><% end %>
				<% end %> 
				&emsp;
				<%= link_to user_path(username: comment.user.username), class: "no-underline" do %><span style="font-size: 11px; margin-right: 20px; font-weight: 900;"><%= comment.user.first_name %> <%= comment.user.last_name %></span><% end %>
				<%= comment.comment_entry %>
					<div class="pull-right">
					<% if current_user == comment.user %>
					<%= link_to "edit", edit_comment_path(comment) %> | <%= link_to "x", comment, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
					</div>
				</div>
				<span style="font-size: 11px;"><i><%= time_ago_in_words(comment.created_at) %> ago</i></span>
			
				<hr class="margin-10">
			<% end %>