<div class="row">
	<div class="col-md-12">
<div class="text-center">
	<%= image_tag @picture.image, class: "image-view img-rounded" %>
</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default panel-borderless" style="margin-bottom: 0px;">
			<div class="panel-body no-padding">
				<%= render 'comments/form' %>
				<%= link_to "BACK TO ALBUM", gallery_path(name: @picture.gallery.name), class: "btn btn-primary btn-block btn-large", style: "margin-top: 10px;" %>
			</div>
		</div>
		<hr class="margin-10">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="no-margin"><i><%= "#{pluralize(@picture.comments.size, "Comment")}" %></i></h4>
			</div>
			<div class="panel-body">
			<%= render @comment %>
			</div>
		</div>
	</div>
</div>

