<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="padding:4px 7px; margin: 0 10px 8px 0;">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars" style="color: white;"></i>
            </button>
            <%= link_to "Picture Gallery", root_url, class: "navbar-brand" %>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">

          <% unless (!signed_in?) || (signed_in? && current_user.role == "pending") %>
          <li class="no-border-left"><div style="padding-top: 3px;"><%= link_to user_path(current_user.username), style: "text-decoration: none;" do %>


          <% if current_user.image.file? %><%= image_tag current_user.image, size: 30, style: "border-radius: 2px;" %>
                  <% else %>
        <%= image_tag "no_profile_pic.jpg", size: 30, style: "border-radius: 2px;" %><% end %> &emsp;<%= current_user.first_name %> <% end %></div></li>
          <li><%= link_to "News Feed", activities_path %></li>
          
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-camera" aria-hidden="true"></i> Picture Albums <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="Link"><a href="#" data-toggle="modal" data-target="#videoModal"  class="wedding_video"> <i class="fa fa-video-camera" aria-hidden="true"></i> Wedding Video</a></li>
                    <% @galleries.each do |gallery| %>
                        <li class="no-border-left"><%= link_to "#{gallery.date.strftime('%Y')} #{gallery.name} (#{gallery.pictures.count})", gallery_path(gallery) %> </li> 
                    <% end %>
                </ul>
              </li>

            <% if signed_in? && current_user.role == "admin" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;"><i class="fa fa-cogs" aria-hidden="true"></i> Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="no-border-left"><%= link_to "Users Admin Panel", admin_panel_path %></li>
                    <li class="no-border-left"><%= link_to "Pictures Admin Panel", galleries_path %></li>
                    <li role="seperator" class="divider"></li>
                    <li role="seperator" class="divider"></li>
                    <li class="no-border-left"><%= link_to 'Friends', friends_path %></li>
                    <li role="seperator" class="divider"></li>
                    <li class="no-border-left"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li class="no-border-left"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
          <% elsif signed_in? && current_user.role == "guest" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;"><i class="fa fa-cogs" aria-hidden="true"></i> Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="no-border-left"><%= link_to 'Friends', friends_path %></li>
                    <li role="seperator" class="divider"></li>
                    <li class="no-border-left"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li class="no-border-left"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
             <% end %>
          <% end %>
            <% if signed_in? && current_user.role == "pending" %>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;"><i class="fa fa-cogs" aria-hidden="true"></i> Settings <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="no-border-left"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                    <li class="no-border-left"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>

             <% end %>

          <% if !signed_in? && current_page?(new_user_session_path) %>
            <li class="devise-navbar-li-text no-border-left-navbar">Need an account? <span class="devise-navbar-signup"><%= link_to "CREATE ACCOUNT", new_user_registration_path, class: "btn btn-danger btn-small", data:{ turbolinks: "false" } %></span></li>
          <% end %> 

          <% if !signed_in? && current_page?(new_user_registration_path) %>
            <li class="devise-navbar-li-text no-border-left-navbar">Already An Account? Sign In! <span class="devise-navbar-signin"><%= link_to "SIGN IN", new_user_session_path, class: "btn btn-primary btn-small", data:{ turbolinks: "false" } %></span></li>
          <% end %>

          <% if (!signed_in? && current_page?(new_user_password_path)) || (!signed_in? && current_page?(edit_user_password_path)) %>
            <li class="devise-navbar-li-text no-border-left-navbar">Don't want to change your password? Sign In! <span class="devise-navbar-signin"><%= link_to "SIGN IN", new_user_session_path, class: "btn btn-primary  btn-small", data:{ turbolinks: "false" } %></span></li>
          <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>