<!DOCTYPE html>
<html>
  <head>
    <title>Pictures Gallery</title>
    <%= csrf_meta_tags %>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="flash">
     <% flash.each do |type, message| %>
      <% if message != true %>
        <div class="alert <%= bootstrap_class_for(type) %> fade-in">
          <center>
           <button class="close" data-dismiss="alert">X</button>
           <%= message %>
          </center>
        </div>
      <% end %>
     <% end %>
    </div>

    <%= yield %>

        <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <iframe frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
    </div>



    <script>
    $('#Link').click(function () {
        var src = 'https://www.youtube.com/embed/uoU4CQ6yqJY';
        $('#videoModal iframe').attr('src', src);
    });

    $('#videoModal').on('hidden.bs.modal', function () {
        $('#videoModal iframe').removeAttr('src');
    })

    </script>
    
  </body>
</html>